@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');


body{
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
}

.card{
    background-color: hsl(0, 0%, 100%);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5rem auto;
    width: 25vw;
    padding: 5px;
}

.hero img{
    width: 95%;
    margin:auto;
    border-radius: 1rem;
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 1rem;
}

.content h3{
    font-size: 1.5rem;
    font-weight: 700;
    max-width: 80%;
    color: hsl(218, 44%, 22%);
    margin-bottom: 0;
}

.content p{
    font-size: 1rem;
    font-weight: 400;
    max-width: 80%;
    color: hsl(220, 15%, 55%);
}

@media (max-width: 375px) {
    .card {
      width: 90vw;
    }
  
    .content h3,
    .content p {
      font-size: 1.2rem;
      max-width: 100%;
    }
}